<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>hbbt.cz skeleton</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container">
        <div class="paper">
            <div class="row">
                <div class="col-md-12">
                    <!-- Fixed navbar -->
                    <nav class="navbar my-navbar navbar-inverse" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span ><small>Menu</small></span>
                            </button>
                            <a class="navbar-brand" href="#">
                                <img class="img-responsive" src="pics/logo.png" ></img>
                            </a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#"><b>:: work ::</b><em></em></a></li>
                                <li><a href="#"><b>:: services ::</b><em></em></a></li>
                                <li ><a href="#"><b>:: about ::</b><em></em></a></li>
                                <li><a href="#"><b>:: blog ::</b><em></em></a></li>
                                <li><a href="#" class="active"><b>:: contact ::</b><em></em></a></li>
                            </ul>

                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="hero-unit-text">
                        <h1>Get in touch</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="main-content" style="padding-top: 0;">
                         <div class="row">
                             <!--Left panel-->
                             <div class="col-md-8">
                                 <div class="left-column-wrapper">
                                     <div class="page-header">
                                         <h3>Hello!</h3>
                                     </div>
                                     <p>
                                         Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                         Aenean commodo ligula eget dolor. Aenean massa.
                                         Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                         Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                         Donec pede justo, fringilla vel, aliquet nec, vulputate
                                     </p>
                                     <div class="page-header"></div>

                                     <div>
                                         <form class="form-horizontal" role="form">


                                             <div class="form-group">
                                                 <label for="name" class="col-lg-2 control-label">Name</label>
                                                 <div class="col-lg-7">
                                                     <input type="text" class="form-control" id="name" >
                                                 </div>
                                             </div>

                                             <div class="form-group">
                                                 <label for="company" class="col-lg-2 control-label">Company</label>
                                                 <div class="col-lg-7">
                                                     <input type="text" class="form-control" id="company" >
                                                 </div>
                                             </div>

                                             <div class="form-group">
                                                 <label for="email" class="col-lg-2 control-label">Email</label>
                                                 <div class="col-lg-7">
                                                     <input type="email" class="form-control" id="email" >
                                                 </div>
                                             </div>

                                             <div class="form-group">
                                                 <label for="message" class="col-lg-2 control-label">Message</label>
                                                 <div class="col-lg-7">
                                                     <textarea id="message" class="form-control" rows="3" ></textarea>
                                                 </div>
                                             </div>

                                             <div class="form-group">
                                                 <div class="col-lg-offset-2 col-lg-7">
                                                     <div class="checkbox">
                                                         <label>
                                                             <input type="checkbox">
                                                             Receive updates from us
                                                         </label>
                                                     </div>
                                                 </div>
                                             </div>

                                             <div class="form-group">
                                                 <div class="col-lg-offset-2 col-lg-7">
                                                     <button type="submit" class="btn btn-primary">Send message</button>
                                                 </div>
                                             </div>

                                        </form>
                                     </div>
                                </div>
                             </div>
                             <!--Right panel-->
                             <div class="col-md-4">
                                 <div class="right-column-wrapper">
                                     <h3 style="margin-top: 0;">Email</h3>
                                     <address>
                                         <!--<strong>Full Name</strong><br>-->
                                         <a href="mailto:#"><span class="contact-phone-number">info@hbbt.cz</span></a>
                                     </address>

                                     <h3>Telephone</h3>
                                     <address>
                                         <span class="contact-phone-number">+420 776 009 509</span>
                                     </address>

                                     <h3>Address</h3>
                                     <address>
                                         <strong>H&B Biomedical Technologies s.r.o.</strong><br>
                                         Lisabonska 2394/4<br>
                                         Prague 9, 190 00<br>
                                         Czech republic<br>
                                     </address>

                                     <h3>Other</h3>
                                     <address style="margin-bottom: 0;">
                                         <strong>Bank</strong><br>
                                         201291748/0600<br>
                                         <strong>ICO</strong><br>
                                         247 89 674<br>
                                     </address>
                                     </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>



        </div>  <!--end of paper-->
        <p class="pull-right copyright-text">© 2013 H&B Biomedical Technologies s.r.o.</p>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/holder.js"></script>
</body>
</html>
