<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>hbbt.cz skeleton</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Begin page content -->
      <div class="container">
          <div class="paper">
              <div class="row">
                  <div class="col-md-12">
                      <!-- Fixed navbar -->
                      <nav class="navbar my-navbar navbar-inverse" role="navigation">
                          <!-- Brand and toggle get grouped for better mobile display -->
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span ><small>Menu</small></span>
                              </button>
                              <a class="navbar-brand" href="#">
                                  <img class="img-responsive" src="pics/logo.png" ></img>
                              </a>
                          </div>

                          <!-- Collect the nav links, forms, and other content for toggling -->
                          <div class="collapse navbar-collapse navbar-ex1-collapse">
                              <ul class="nav navbar-nav navbar-right navbar-text">
                                  <li><a href="#"><b>:: work ::</b><em></em></a></li>
                                  <li><a href="#"><b>:: services ::</b><em></em></a></li>
                                  <li ><a href="#"><b>:: about ::</b><em></em></a></li>
                                  <li><a href="#"><b>:: blog ::</b><em></em></a></li>
                                  <li><a href="#"><b>:: contact ::</b><em></em></a></li>
                              </ul>

                          </div><!-- /.navbar-collapse -->
                      </nav>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-12">
                      <img class="img-responsive" data-src="holder.js/1400x440" ></img>
                  </div>
              </div>

              <div class="row">
                     <div class="col-md-12">
                         <div class="home-strip-panel">
                             <div class="row">
                                  <div class="col-md-4">
                                      <a href="#">
                                          <div class="text-box">
                                            <h3>
                                                <b>Who we are</b>
                                                <span class="glyphicon glyphicon-user pull-right"></span>
                                            </h3>
                                            <p>A team of  all sorts of geeks with a special way of doing things.</p>
                                          </div>
                                      </a>
                                  </div>
                                  <div class="col-md-4">
                                      <a href="#">
                                          <div class="text-box">
                                              <h3>
                                                  <b>Our work</b>
                                                  <span class="glyphicon glyphicon-play-circle pull-right"></span>
                                              </h3>
                                              <p>We love what we do and our work speaks for itself.</p>
                                          </div>
                                      </a>
                                  </div>
                                  <div class="col-md-4">
                                      <a href="#">
                                          <div class="text-box">
                                              <h3>
                                                  <b>Our location</b>
                                                  <span class="glyphicon glyphicon-globe pull-right"></span>
                                              </h3>
                                              <p>In <span class="glyphicon glyphicon-heart-empty"></span> of Central Europe, Prague, Czech rep.</p>
                                          </div>
                                      </a>
                                  </div>
                             </div>
                      </div>
                  </div>
              </div>
              <div class="clearfix"></div>

              <div class="row">
                  <div class="col-md-12">
                      <div class="main-content">
                          <div class="row">
                              <!--Left column-->
                              <div class="col-md-8">
                                  <div class="page-header">
                                      <h3>We are at your services</h3>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-6 col-md-4">
                                          <div class="thumbnail">
                                              <img data-src="holder.js/300x200" alt="...">
                                              <div class="caption">
                                                  <h5><span class="glyphicon glyphicon-star-empty"></span> Software engineering</h5>
                                                  <p>...</p>
                                                  <p><a href="#" class="btn btn-primary">Read more</a></p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-6 col-md-4">
                                          <div class="thumbnail">
                                              <img data-src="holder.js/300x200" alt="...">
                                              <div class="caption">
                                                  <h5><span class="glyphicon glyphicon-gbp"></span> Medical spare parts</h5>
                                                  <p>...</p>
                                                  <p><a href="#" class="btn btn-primary"> Read more</a></p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-6 col-md-4">
                                          <div class="thumbnail">
                                              <img data-src="holder.js/300x200" alt="...">
                                              <div class="caption">
                                                  <h5><span class="glyphicon glyphicon-phone-alt"></span> Consulting</h5>
                                                  <p>...</p>
                                                  <p><a href="#" class="btn btn-primary"> Read more</a></p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-6 col-md-4">
                                          <div class="thumbnail">
                                              <img data-src="holder.js/300x200" alt="...">
                                              <div class="caption">
                                                  <h5><span class="glyphicon glyphicon-send"></span> Research & Development</h5>
                                                  <p>...</p>
                                                  <p><a href="#" class="btn btn-primary">Read more</a></p>
                                              </div>
                                          </div>
                                      </div>
                                 </div>


                              </div>
                              <!--Right column-->
                              <div class="col-md-4">
                                  <div class="page-header">
                                      <h3>News & Events</h3>
                                  </div>
                                  <!--News-->
                                  <div class="panel panel-default">
                                      <div class="panel-heading">
                                          <h3 class="panel-title">We finally bought Google.com!</h3>
                                      </div>
                                      <div class="panel-body">
                                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</p>
                                      </div>
                                  </div>
                                  <!--News-->
                                  <div class="panel panel-default">
                                      <div class="panel-heading">
                                          <h3 class="panel-title">Barack Obama is our Customer!</h3>
                                      </div>
                                      <div class="panel-body">
                                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</p>
                                      </div>
                                  </div>
                                  <!--News-->
                                  <div class="panel panel-default">
                                      <div class="panel-heading">
                                          <h3 class="panel-title">Next target: Mars!</h3>
                                      </div>
                                      <div class="panel-body">
                                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</p>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>  <!--end of paper-->
          <p class="pull-right copyright-text">© 2013 H&B Biomedical Technologies s.r.o.</p>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>
  </body>
</html>
