<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="H&B Biomedical Technologies s.r.o.">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>hbbt.cz skeleton</title>

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">        
    <link href="css/app.css" rel="stylesheet">
	
	<!-- JS -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->	
	</head>

	<body>

    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Begin page content -->
		<div class="container">
		<div class="paper">
              <div class="row">
                  <div class="col-md-12">
                      <!-- Fixed navbar -->
                      <nav id="top-menu-nav" class="navbar my-navbar navbar-inverse" role="navigation">
                          <!-- Brand and toggle get grouped for better mobile display -->
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span><b>M</b></span>
                              </button>
                              <a class="navbar-brand" href="#">
                                  <img class="img-responsive" src="pics/logo.png" />
                              </a>
                          </div>

                          <!-- Collect the nav links, forms, and other content for toggling -->
                          <div class="collapse navbar-collapse navbar-ex1-collapse">
                              <ul class="nav navbar-nav navbar-right">                                  
                                  <li><a href="#"><b>:: SERVICES ::</b><em></em></a></li>                                  								 
                                  <li><a href="#"><b>:: BLOG ::</b><em></em></a></li>
								  <li ><a href="#"><b>:: COMPANY ::</b><em></em></a></li>
                                  <li><a href="#"><b>:: CONTACT ::</b><em></em></a></li>
                              </ul>

                          </div><!-- /.navbar-collapse -->
                      </nav>
                  </div>
              </div>						
			
			<!-- Strip-panel -->
			<div class="row">
				<div class="col-md-12">
					<div class="home-strip-panel">
						<div class="row">
							<div class="col-md-4">
								<a href="#">
									<div class="text-box">
										<h3>
											Who we are
											<span class="glyphicon glyphicon-user pull-right"></span>
										</h3>
										<p>A team of  all sorts of geeks with a special way of doing things.</p>
									</div>
								</a>
							</div>
							<div class="col-md-4">
								<a href="#">
									<div class="text-box">
										<h3>
											Our work
											<span class="glyphicon glyphicon-wrench pull-right"></span>
										</h3>
										<p>We love what we do and our work speaks for itself.</p>
									</div>
								</a>
							</div>
							<div class="col-md-4">
								<a href="#">
									<div class="text-box">
										<h3>
											Our location
											<span class="glyphicon glyphicon-globe pull-right"></span>
										</h3>
										<p>In <span class="glyphicon glyphicon-heart-empty" style="color: red;"></span> of Central Europe, Prague, Czech rep.</p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- end: strip panel -->
			
			<!-- Carusel -->
			<div class="row" >
				<div class="col-md-12">
                      <div id="home-carousel" class="carousel slide">
                          <!-- Indicators -->
                          <!--<ol class="carousel-indicators">
                              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                          </ol>-->

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                              <div class="item active">
                                  <img class="img-responsive" src="pics/photo1.gif" width="1440" height="440"/>
                                  <div class="carousel-caption">
                                      <h2 class="pull-right"><b>Biomedical Engineering</b></h2>
                                  </div>
                              </div>
                              <div class="item">
                                  <img class="img-responsive" src="pics/photo3.gif" width="1440" height="440"/>
                                  <div class="carousel-caption">
                                      <h2 class="pull-right"><b>Software Engineering</b></h2>
                                  </div>
                              </div>
                              <div class="item">
                                  <img class="img-responsive" src="pics/photo.gif" width="1440" height="440"/>
                                  <div class="carousel-caption">
                                      <h2 class="pull-left"><b>Research</b></h2>
                                  </div>
                              </div>
                              <div class="item">
                                  <img class="img-responsive" src="pics/photo4.gif" width="1440" height="440"/>
                                  <div class="carousel-caption">
                                      <h2 class="pull-left"><b>Innovations</b></h2>
                                  </div>
                              </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#home-carousel" data-slide="prev">
                              <span class="icon-prev"></span>
                          </a>
                          <a class="right carousel-control" href="#home-carousel" data-slide="next">
                              <span class="icon-next"></span>
                          </a>
                      </div>

				</div>
			</div> <!-- end: carousel -->	
			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12">
					<div class="main-content">
						<!--Section head-->
						<div class="row">								
							<div class="col-md-12">								
								<div class="section center">										
									<div class="head">
										<h2>We are at your services</h2>															
									</div>									
								</div>
							</div>
						</div>	
						<!--Section-->
						<div class="row">								
							<div class="col-md-12">
								<div class="section left">
									<div class="head">
										<h3><span class="glyphicon glyphicon-link"></span> Biomedical Engineering</h3>                                        									
									</div>
									<div class="body">										
										<ul class="media-list">
											<li class="media">
												<a class="pull-left" href="#">
												  <img class="media-object img-thumbnail rounded" src="pics/132564_m.jpg" height="175" width="175" alt="Medical spare parts" />
												</a>
												<div class="media-body">													
													<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</p>
												</div>
											</li>
										</ul>
									</div>									
								</div>																	
							</div>
						</div>
						<!--Section-->
						<div class="row">								
							<div class="col-md-12">
								<div class="section right">
									<div class="head">
										<h3><span class="glyphicon glyphicon-fire"></span> Software Engineering</h3> 
									</div>
									<div class="body">										                                      
										<ul class="media-list">
											<li class="media">
												<a class="pull-right" href="#">
												  <img class="media-object img-thumbnail rounded" src="pics/23864938_m.jpg" height="175" width="175" alt="Development" />
												</a>
												<div class="media-body">													
													<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</p>
												</div>
											</li>
										</ul>
									</div>
								</div>																	
							</div>
						</div>
						<!--Section-->
						<div class="row">								
							<div class="col-md-12">
								<div class="section left">
									<div class="head">
										<h3><span class="glyphicon glyphicon-export"></span> Consulting</h3>                                          
									</div>
									<div class="body">										
										<ul class="media-list">
											<li class="media">
												<a class="pull-left" href="#">
												  <img class="media-object img-thumbnail rounded" src="pics/15648_m.jpg" height="175" width="175" alt="Medical spare parts" />
												</a>
												<div class="media-body">													
													<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</p>
												</div>
											</li>
										</ul>
									</div>
								</div>																	
							</div>
						</div>
						<!--Section-->
						<div class="row">								
							<div class="col-md-12">
								<div class="section right">
									<div class="head">
										<h3><span class="glyphicon glyphicon-plane"></span> Research & Development</h3>
									</div>
									<div class="body">										                                       
										<ul class="media-list">
											<li class="media">
												<a class="pull-right" href="#">
												  <img class="media-object img-thumbnail rounded" src="pics/24407249_m.jpg" height="175" width="175" alt="Medical spare parts" />
												</a>
												<div class="media-body">													
													<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</p>
												</div>
											</li>
										</ul>
									</div>
								</div>																	
							</div>
						</div>
						<!--Section head-->
						<div class="row">								
							<div class="col-md-12">								
								<div class="section center">										
									<div class="head">
										<h2>Don't hesitate to contact us!</h2>															
									</div>
								</div>
							</div>
						</div>
						<!-- Map  -->
						<div class="row">
							<div class="col-md-12">								
							  <div id="map-canvas">																
							  </div>
							</div>
						</div> <!-- end map -->
						<!--Address-->
						<div class="row">								
							<div class="col-md-12">
								<div class="section address" style="background:#101010;">
									<div class="head">
										<h3>H&B Biomedical Technologies s.r.o.</h3>
									</div>
									<div class="body">
										<div class="row">
											<div class="col-md-4">
												<h3>Email</h3>
												 <address>
													 <!--<strong>Full Name</strong><br>-->
													 <a href="mailto:#"><span class="contact-phone-number">info@hbbt.cz</span></a>
												 </address>
												 <h3>Telephone</h3>
												 <address>
													 <span class="contact-phone-number">+420 776 009 509</span><br>
													 <span class="contact-phone-number">+420 608 235 839</span>
												 </address>
											</div>
											<div class="col-md-4">
												 <h3>Address</h3>
												 <address id="map-input">
													 <strong>H&B Biomedical Technologies s.r.o.</strong><br>
													 náměstí 14. října 1307/2<br>
													 Prague 5, 150 00<br>
													 Czech republic<br>
												 </address>
											</div>
											<div class="col-md-4">
												 <h3>Other</h3>
												 <address style="margin-bottom: 0;">
													 <strong>Bank</strong><br>
													 201291748/0600<br>
													 <strong>ICO</strong><br>
													 247 89 674<br>
												 </address>
											 </div>											
										</div>										
									</div>
								</div>																	
							</div>
						</div> <!-- end address -->						
					</div>                              							  						  							  							                             
				</div>
			</div>
		</div>  <!--end of paper-->
		<p class="pull-right copyright-text">© 2013 H&B Biomedical Technologies s.r.o.</p>		
		</div>  <!--end of container-->		
	</div>  <!--end of wrapper-->
	
	    <div id="footer" class="visible-xs visible-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#top-menu-nav" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-chevron-up"></span></a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>
    <script src="js/map-initializer.js"></script>
	</body>
</html>
