#Vagrant
.vagrant/*

#IDE
.idea/*

# Concrete5
www/config/site.php
www/files/cache/*
www/files/tmp/*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# ios
.DS_Store
